<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
    {% include "_ie.html" %}

    <title>Apparatus</title>
    <link href="{{ static_url('stylesheets/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_url('stylesheets/main.css') }}" rel="stylesheet">
  </head>

  <body>
    <section class="container">
      <article class="row">
        <video class="remote" autoplay></video>
      </article>
    </section>

    <section class="container">
      <article class="row">
        <video class="local" autoplay></video>
      </article>
    </section>

    <script src="{{ static_url('javascripts/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ static_url('javascripts/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('javascripts/adapter.js') }}"></script>
    <script src="{{ static_url('javascripts/main.js') }}"></script>
  </body>
</html>
